@import "tailwindcss";

@theme inline {
  --color-background: #0F172A;
  --color-foreground: #F8FAFC;
  --color-primary: #6C3AED;
  --color-primary-hover: #5B21B6;
  --color-accent: #10B981;
  --color-accent-hover: #059669;
  --color-danger: #FB7185;
  --color-surface: #1E293B;
  --color-surface-hover: #334155;
  --color-muted: #94A3B8;
  --color-border: #334155;
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
